/*general*/
.page-heading{
    width: auto;
    position: relative;  
    h1{
        text-align: center;
    }
}

/*Home*/
body[class*="-home"]{
    .success, .warning, .attention, .information{
        margin-top: 5px;
    }  
}
/* category */
.category-info {         
    padding: 0;
    .image {
        padding: 0;
        margin-bottom: 30px;
    }       
}
.subcategories {
    .category-item {
        display: inline-block;
        margin: 5px 5px 5px 0;
        text-align: center;
    }
    .panel-title{
        font-size: $font-size-base - 1;
        text-transform: uppercase;
    } 
}
.category-description {
    display: none;
}
.refine-search{
    background: $white;
    border: 1px solid $border-color;
    @include box-shadow(none);
    @include rounded-corners(0);
    padding: 10px;
    >div{
        padding-left: 0;
    }        
    ul,ol{
        list-style: none;        
        > li{
            padding: $padding-small-vertical 0;
            padding-left:10px;
            margin-right:10px;
            line-height: normal;
            position: relative;
            float: left;
            &:before{
                content: "";
                position: absolute;
                @include size(4px, 4px);
                top: 45%;
                left: 0;
                background-color: #000;
            }
        }
        &:first-child{
            > li:first-child{
                list-style: none;
                font-size: $font-size-base - 1;
                font-weight: 700;
                color: #000;
                font-family: $font-family-secondary;
                text-transform: uppercase;
                &:before{
                    background: none;
                }
            }
        }
    }
}
// shopping cart
.cart-total {
    border-top: 1px solid $table-border-color;
    overflow: auto;
    padding-top: 8px;
    margin-top: 10px;
    margin-bottom: 15px;
    td {
        padding: 3px;
        text-align: right;
    }
    table {
        float: right;
    }
    .left b{
        padding-right:60px;
    }
    .right.last{
        font-size: 30px;
    }
}

/* manufacturer */
.manufacturer-heading {    
    font-size: 15px;
    font-weight: bold;
    padding: 5px 8px;
    margin-bottom: 6px;
    color: $black;
    background-color: $table-bg-color;
}
.manufacturer-list {    
    border: 0;
    padding: $padding-base-vertical;       
    ul {
        float: left;
        width: 25%;
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: 10px;
    }
}
.manufacturer-content {
    padding: 8px;
    overflow: auto;
}
/* 
 *  LISTING PRODUCTS PAGE 
 */
.product-filter {
    padding: $product-filter-padding;     
    text-transform: uppercase;
    background-color: $product-filter-bg;        
    font-size: $product-filter-font-size;  
    color: $product-filter-color;
    margin-bottom: 28px;
    border: 1px solid $border-color;
    .filter-right > div{
        @include rtl-padding-left(5px);
    }
    .display {     
        @include rtl-float-left(); 
        line-height: 30px;
        span{
            margin-right: 5px;
            @include rtl-float-left();
        }        
        button{
            @include transition(all 0.35s);
            background: url('#{$image-theme-path}icon-grid-list.png') no-repeat 9px 8px $nocolor scroll;
            @include size(32px,30px);
            display:  block;
            border: 1px solid $product-filter-border-color;
            margin-right: 5px; 
            @include rtl-float-left();  
            cursor: pointer;         
           & > span{
                margin: 0 3px;

           }
           & > em {
                display: none;
           }
            &#grid-view{
             background-position: 10px 9px;
               &.active, &:hover {
                    background-position: 10px -30px;
               }
           }
           &#list-view {
            background-position: -30px 10px;
               &.active, &:hover {
                    background-color:$nocolor;
                    background-position: -30px -31px;
               }
           }
           &.active , &:hover {
                background-color: $nocolor;
                .fa {
                     color: $white; 
                }              
           }           
        }
        i{
            font-size: $font-size-base - 1; 
            color: #9c9b9b; 
            @include transition(color .2s ease-out);
        }
    }
    .form-control {
        display: inline-block;
        width: auto;
        padding: 8px 12px;
        height: 38px;
    }
    .product-compare{
        @include rtl-float-right();
        .btn-outline-black{
            padding: 8px;
        }
    }
    .sort{
        @include rtl-float-right();
    }
    .limit{
        @include rtl-float-right();
    }
}

/* product list mode  */
.product-list {
    //&:extend(.product-grid);
    .product-col{
        width: 100%;
        float: none;
        margin: 0;
    }

    .products-row {
        border: none;
        margin-bottom: -2px;
        .product-col {
            border-bottom:$product-container-border;
            border-right:none;
        }
    } 
    .product-block{ 
        padding: 20px;
        text-align: left;
        background: $white;
        &:hover {
            .product-meta {
                background-color: $white;
            }
        }
    }
    .bottom{
        .wrap-hover{
            height: 45px!important;
            >div{
               text-align: left!important;
            }
        }
    }
    .product-meta{        
        padding: 0;        
        overflow: hidden;   
        min-height: inherit;   
        text-align: left;  
    }    
    .rating, .norating {
        text-align: left;
    }
    .description{
        display: block;
        margin-left: 18px;
    }
    .price-tax {
        display: block;
    }
    .price-new {
        
    }
    .name {
        text-align: left;
        min-height: 20px;   
        margin-bottom: 10px;
        a{
            font-weight: 300;
        }     
    }
    .product-label{
        right: 1px;
    }
    .image {
        width: 35%;
        @include rtl-float-left();
        margin: 0 20px 0 0;
        text-align: center;
        border: none;
        img {
            padding: 0;
            border:0;
        }
        &:hover{
            .info-view{
                @include opacity(1);
            }
        }
    }
    .cart {
        float: left;
    }
    .product-icon {
        padding: 9px 17px;
        line-height: 1;
        border-left: 1px solid $white;
        text-align: center;
        span {
            display: inline-block;
            font-family: $font-family-secondary;
        }
    }
    .action{
        @include opacity(1);
        visibility: visible;
    }   
    .product-block{
        .rating, .product-rating, .norating {
            padding-left: 20px;
        }
    }  
}
/* product grid mode */
.product-grid{
    position: relative;      
    &.last{
        border: 0;
    }        
    .description,.price-tax{
        display: none;
    }                    
}
.products-block{
    .products-row{ 
        &.last,&:last-child{
            border-bottom: 0;
        }
    }
}
 
/* 
* PRODUCT INFORMATION PAGE
*/
.product-detail{
    background-color: $product-info-bg;  
}
.product-info { 
    border: $product-info-border;             
    margin-bottom: $product-info-margin;
    .product-view {
        border: 1px solid $border-color;
        padding: 30px;
        position: relative;
        background: $body-bg;
        .product-info{
           .product-name{
                font-size: 30px;
                font-weight: 100;
                color: $black;
            } 
            >div{
                margin-bottom: 20px;
            }
        }
        .summary{
            font-size: $font-size-base + 2;
            color: $black;
            font-weight: $font-weight-base;
            line-height: 28px;
        }
    } 
    .item{
        background: $white;
    }                                                                          
    .carousel-control{
        border: 1px solid #DADADA;
        @include size(35px, 35px);
        top: 35%;
    }
    .carousel-control.right {
        left: auto;
        right: 0;
    }
    .carousel-control.left {
        right: auto;
        left: 0;
    }
    .review a{
        font-size: $font-size-base - 1;
    }
    .product-name{
        span{
            font-size: $font-size-base;
            color: $theme-color;
            text-transform: uppercase;
        }
    }
    .cart {        
        .minimum {
            padding-top: 5px;
            font-size: 11px;            
        }
        .links {
            display: inline-block;
            vertical-align: middle;
        }        
    }
    h1{
        text-transform: uppercase;
        font-weight: bold;
    }
    ul,ol{
        list-style: none;
    }
    .price-tax {
        font-weight: normal;
    }
    .image {        
        position:relative;
        margin-bottom: 10px;       
        text-align: center;
    }
    
    .share{
        @include clearfix();
        padding: 20px 0;
    }
    .price{                      
        color: $black;
        font-size: $font-size-base;
        @include rtl-text-align-left();
        margin: 15px 0;
        padding: 0;
        .text-price {
            display: none;
        } 
        .reward {            
            font-weight: normal;            
        }
        .discount {
            font-weight: normal;
            margin-top: $padding-base-vertical;            
        }
    }
    .price-gruop{
        @include clearfix();        
    }
    .description {
        border:0;
        margin-bottom: $padding-base-vertical;
        padding: 0;
        font-size: $font-size-base - 1;
        color: $theme-color-secondary;
        a {            
            text-decoration: none;
        }
        b{
            margin-right: 5px;
            margin-left: 0;            
        }
        .fa {
            color: $theme-color-default;
            padding: 3px;
            text-align: center;
            @include rounded-corners(100%);
            @include rtl-float-left();
            font-size: 7px;
            margin: 3px 5px 0 0;
        }
        p{
            margin-top: 5px;
        }
    }
    .carousel-inner{
        margin:0;
        clear: both;
        overflow: hidden;
        .item {
            text-align: center;
        }
        a {            
            display: inline-block;
            margin-right: 0px;  
            padding: 0 1px 1px !important;
            padding-top: 0;   
            text-align: center;               
            &:last-child{
                margin: 0;                
            }
            img{
                display: inline;
                @include transition(border-color 500ms ease);  
            }
        }       
    }
    .option-image {
        margin-top: 3px;
        margin-bottom: 10px;
        label {
            display: block;
            width: 100%;
            height: 100%;
        }
        img {
            margin-right: 5px;
            margin-left: 0;
            border: 1px solid $border-color;
            cursor: pointer;
        }
    }
    .options {
        margin-bottom: 20px;
    }
    .review {  
        .share {             
            line-height: normal;
            a {
                text-decoration: none;
            }
        }
        & > div {
            padding: 0;
            border:0;
            & > span {
                color: #38B0E3;
            }
        }
    }
    .product-extra{        
        @include clearfix();
        .quantity-adder{
            margin: 0 auto; 
            padding-bottom: 20px;
            overflow: hidden;
            display: inline-block;
            input {
                border: 1px solid $border-color;
            }           
        }           
        & .add-action{
            display:block;
            @include size(27px,16px);
            @include border-exclude-left(1px, solid, $border-color);
            position: relative;
            cursor: pointer;
            font-size: $font-size-base + 6;
            line-height: 15px;
            text-align: center;
            color: lighten($gray, 10%);          
            &:hover{
                color: darken($theme-color-default, 10%);  
            }  
        }
        & .add-up{
            border-bottom: 0;            
        }
        .add-to-icon{
            font-size: $font-size-base + 5;
            padding: 6px;
            background: darken($theme-color-default, 10%);
        }
        .quantity-number{
            span{
                padding-right: 20px;
            }
            input{
                min-width: 57px;
                width: 57px;                
                width: auto !important;
                height: 32px;
                text-align: center;
            }
        }
    }
    .action{        
        @include clearfix();
        position: absolute;
        top: 28px;
        @include rtl-right(33px);
        > div{
            margin-bottom: 2px;
            span{
                display: none;
            }
        }
        .cart a{
            font-size: $font-size-base;
        }
        .wishlist a{
            background-color: #e1e1e1;
            border-color: #e1e1e1;
            &:hover{
                background-color: $theme-color-primary;
                border-color: $theme-color-primary;
            }
        }
        .compare a{
            background-color: #e1e1e1;
            border-color: #e1e1e1;
            &:hover{
                background-color: $theme-color-primary;
                border-color: $theme-color-primary;
            }
        }
    }                       
}

.review-form-width {
    margin: 10% auto;
    max-width: 700px;
    position: relative;
    padding: 20px;
}

.tabs-group{
    border-top: 1px solid $border-color;
    padding-top: 20px;
    overflow: hidden;
    .htabs {
        padding: 0;
    }
     .tab-content {
        padding: 20px 0;
        font-size: $font-size-base - 1;
        line-height: 25px;
        
    }
}
.box.product-related{
    margin-bottom: 0;
    .box-heading{
        background-color: $silver; 
        padding: 8px 0;
    }
    .title-module{
        span{
          background: $theme-color-default;
          &:before{
            background: $theme-color-default;
          }
        }
    }
}
.zoomWindowContainer .zoomWindow{
    @include rtl_left(390px);
}
/**
 *
 */
.review-list {
    padding: 10px;  
    margin-bottom: 20px;
    border: 1px solid #EEEEEE;
    .rating {
        float: right;
        margin-bottom: 20px;
    }
    .author {
        float: left;
        margin-bottom: 20px;
        span{
            color: $black;
        }
    }
    .text {
        clear: both;
    }
}

/* attribute */
.attribute thead td, .attribute thead tr td:first-child {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    background: $table-bg-color;
    text-align: left;
}
.attribute {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid $table-border-color;
    border-left: 1px solid $table-border-color;
    margin-bottom: 20px;
    td {
        padding: 7px;
        color: #4D4D4D;
        text-align: center;
        vertical-align: top;
        border-right: 1px solid $table-border-color;
        border-left: 0;
        border-bottom: 1px solid $table-border-color;
    }
    tr {
        td:first-child {
            color: #000000;
            font-weight: bold;
            text-align: right;
            width: 20%;
        }
    }
}

.compare-info {    
    .price-old {        
        text-decoration: line-through;
    }
    .price-new {
        font-weight: bold;
    }
    .name {
        a {
            font-weight: bold;
        }
    }
    td {    
        text-align: center;
        vertical-align: top;        
    }
    tr {
        td:first-child {            
            font-weight: bold;            
            text-align: left;
            width: 16%;          
        }
    }
}
.compare-info thead td, .compare-info thead tr td:first-child {
    color: $black;    
    font-weight: bold;
    font-size: $font-size-base + 5;
    background: darken($gray-lighter, 5%);
    text-align: left;
    border:0;
}
.table-responsive{
    background: $body-bg;
}
/* 
* WISHTLIST PAGE 
/* 
 * CART PAGE
 */


.wishlist-info, .cart-info {
    table tr td {
        text-align: center;
        vertical-align: middle;
        img, input {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
        }
    }
}
/* 
 * ORDERS PAGE 
 */
.order-list {
    margin-bottom: 10px;
    .order-status {
        width: 49%;
        float: right;
        text-align: right;
        margin-bottom: $padding-base-horizontal * 2;
    }
    .order-content {
        padding: 10px 0px;                   
    }
    .order-info {
        text-align: right;
    }
    .order-id {
        width: 49%;
        float: left;
        margin-bottom: $padding-base-horizontal * 2;
    }
    .list-content{
        margin-bottom: $padding-base-horizontal;    
    }
}
.order-detail {
    background: $border-color;
    font-weight: bold;
}

/* RETURN PAGE
 *
 */
.return-list {
    margin-bottom: 10px;
    .return-content {
        padding: 10px 0px;                        
    }
    .return-id {
        width: 49%;
        float: left;
        margin-bottom: $padding-base-horizontal * 2;
    }
    .return-status {
        width: 49%;
        float: right;
        text-align: right;
        margin-bottom: $padding-base-horizontal * 2;
    }
    .return-info {
        text-align: right;
    }
    .list-content{
        margin-bottom: $padding-base-horizontal;    
    }
}
.return-opened textarea {	
	vertical-align: top;
}
.return-captcha {
	float: left;
}


.download-list {
    margin-bottom: 10px;
    .download-status {
        width: 49%;
        float: right;
        text-align: right;
        margin-bottom: $padding-base-horizontal * 2;
    }
    .download-id {
        width: 49%;
        float: left;
        margin-bottom: $padding-base-horizontal * 2;
    }
    .download-content {
        padding: 10px 0px;                               
    }
    .download-info {
        text-align: right;
    }
    .list-content{
        margin-bottom: $padding-base-horizontal * 2;
    }
}



/* 
 * CHECKOUT PAGE
 */
.page-checkout-checkout{
    .panel-title{
        font-size: 15px;        
    }
    .panel-heading{
        padding: 12px 30px;
    }
}
.checkout-heading {
    background: lighten($gray-lighter, 5%);
    border: 1px solid $border-color;
    padding: 8px;
    font-size: $font-size-base + 4;
    color: #555555;
    margin-bottom: 15px;
    a {
        float: right;
        margin-top: 1px;
        font-weight: normal;
        text-decoration: none;
    }
}

.checkout-content {
    padding: 0px 0px 15px 0px;
    display: none;

    .buttons {
        clear: both;
    }
}

.checkout-product tbody .name, .checkout-product tbody .model {
    text-align: left;
}
.checkout-product thead .name, .checkout-product thead .model {
    text-align: left;
}
.checkout-product {
    thead {
        td {
            color: #4D4D4D;
            font-weight: bold;
            background-color: $table-bg-color;
            border-bottom: 1px solid $table-border-color;
        }
    }
    tfoot {
        td {
            text-align: right;
            border-bottom: 1px solid $table-border-color;
        }
    }
    tbody {
        td {
            vertical-align: top;
            border-bottom: 1px solid $table-border-color;
        }
    }
    td {
        padding: 7px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        border-top: 1px solid $table-border-color;
        border-left: 1px solid $table-border-color;
        border-right: 1px solid $table-border-color;
        margin-bottom: 20px;
    }
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
    text-align: right;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
    text-align: right;
}
.quantity input[type="text"] {
    width: 30%;
}
/*
 * CONTENT INFOMATION
 */
.sitemap-info {   
    margin-bottom: $padding-base-horizontal * 3; 
    ul{
        > li{
            line-height: $line-height-base + 0.5;
            font-weight: bold;
            list-style: disc inside none;
            > ul{
                margin-left: $padding-base-vertical * 4;
                li{
                    font-weight: normal;
                    list-style: circle inside none;
                    li{
                        list-style: square inside none;
                    }
                }
            }
        }
    }
}

/*PAGE NOT FOUND*/
.page-not-found{
    text-align: center;
    h2{
        font-size: percentage(2.30);        
        color:darken($theme-color-default,10%);     
        margin: $padding-base-horizontal * 10 0 $padding-base-horizontal 0;   
    }
    span{
        margin-right: $padding-base-horizontal;
    }    
}


/*Contact Page*/
.contact-location{
    margin-bottom: $padding-base-horizontal;
    img{
        max-width: none;
    }    
}
.contact-content{
    background-color: $contact-bg;
    padding: $contact-padding;
    border: $contact-border;

    .buttons{
        border: 0;
        padding: 0;
        margin-top: 20px;
    }
    .contact-customhtml{
        border: 0;
        padding: 0;
        margin-top: 20px;
        .content{
            min-height: $contact-height;
        }        
    }
    .fa{
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: $contact-icon-color;
        background-color: $contact-icon-bg;
        font-size: $contact-icon-font-size;
        margin-bottom: 10px;
        @include rtl-margin-right(10px);
        @include rounded-corners(50%);
        &:hover{
            background-color: $contact-icon-hover-bg;
        }
    }
}

.body.quickview{
    .zoomContainer{
        display: none!important;
    }
    .product-detail > .product-info{
        padding-right: 0!important;
    }
} 

/* SEARCH PAGE */
.wrapper{
    background: $body-bg;
    padding: 20px;
}

// page checkout
.page-checkout-cart{
    .panel-body{
        border: none !important;
    }
}

// Blog

.blog-item .description{
    @include rtl-padding-left(10px);
}

.blog-title{
    @include rtl-padding-left(10px);
}

.author {
    @include rtl-padding-left(10px);
}
.blog-meta > span{
    @include rtl-padding-right(10px);  
}