/*$media (min-width: 992px) and (max-width: 1199px)*/
@media (min-width: $screen-md) and (max-width: $screen-md-max){ 
    .pav-megamenu .navbar-nav > li > a{
    	margin: 0 12px;
    }
    .pav-newsletter .input-form input{
    	width: 170px !important;
    }
    .effect div{
    	margin-left: 20px;
    	padding: 6px 0 1px 24px;
    }
    .icon-map{
    	top: 14px
    }
    .panel-heading{
    	width: 217px;
    }
    .productdeals{
        .bottom .item-countdown {
            padding: 11px 0 65px 23px;
        }  
        .deal-qty-box{
            padding: 31px 0 0;
        }
    } 
    .pavblog-latest{
        .blog-title{
            margin: 0 0 10px;
        }
        .create-info{
            height: 264px;
        }  
        .blog-item .description{
            margin-top: 3px;
            padding-top: 7px;
        } 
    }
    .pavtestimonial{
        .testimonial-item{
            padding: 28px 13px !important;
        }
        .social{
            width: 100% !important;
            margin-left: 10px;
        }
    } 
    .product-filter .form-control{
        padding: 8px 11px;
    }
    .product-block{
       .action{
            bottom: 23px;
        } 
    } 
}
@media (max-width: $screen-sm-max){
    .zoomContainer, .pav-colorbox, .product-zoom, .zoom, .quick-view{
        display: none !important;
    }
}
/*$media (min-width: 768px) and (max-width: 991px) {*/
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    .zoomContainer, .pav-colorbox, .product-zoom {
        display: none!important;
    }
    .navbar-toggle{
    	display: block;
    	background-color: #ddd;
    }
    .effect:hover .overlay{
        width: 271px !important;
    }
    .pav-newsletter{
        margin-bottom: 30px;
        .valid {
            margin-left: 8px;
            width: 43% !important;
            .warning{
                margin-top: 0;
            }
        }
    } 
    .custom-content{
        margin-bottom: 30px;
    }
    .productdeals{
        .deals-content{
            border-left: 1px solid #ebebeb !important;
            height: 238px !important;
        }
        .label{
            right: 5px !important;
            top: 2% !important;
            left: auto !important;
        }
        .bottom .item-countdown {
            padding: 30px 0 15px;
        }
        .product-block .image{
            border-right: 1px solid #ebebeb !important; 
        }
    } 
    .pavtestimonial{
        .testimonial-item{
            padding: 28px 15px !important;
        }
        .social{
            width: 100% !important;
            margin-left: 4px;
        }
    }
    #page{
        padding-top: 0!important;
        .navbar-fixed-top{
            position: relative!important;
        }
    }
    .blog-item{
        .create-info{
            height: 224px;
        }
        .description{
            padding-top: 29px !important;
        }
    }
    .page-product-compare{
        .btn-default{
            margin: 5px 0;
        }
    }
} 

/*$media (max-width: 767px) {*/
@media (max-width: $screen-xs-max) {  
    .zoomContainer, .pav-colorbox, .product-zoom {
        display: none !important;
    }
    .navbar-toggle{
    	background-color: #ddd;
    }
    .pav-newsletter{
        margin-bottom: 30px;
        .valid {
            width: 268px !important;
        }
    } 
    .effect:hover .overlay{
        width: 271px !important;
    }
    #page{
        padding-top: 0!important;
        .navbar-fixed-top{
            position: relative!important;
        }
    }
    .productdeals{
        .label{
            right: 5px !important;
            left: auto !important;
        }
        .deals-content{
            border-left: 1px solid #ebebeb !important;
            height: 238px;
        }
        .bottom .item-countdown {
            padding-bottom: 25px;
            padding-top: 20px;
            padding-left: 0;
        }
    } 
    .blog-item{
        .create-info{
            height: 226px;
        }
    }
    body[class*="-home"]{
        .success, .warning, .attention, .information{
            margin-top: 0;
        }  
    }
    .product-filter{
        .display{
            width: 100%;
        }
        .filter-right{
            width: 100%;
        }
        .product-compare{
            width: 100%;
        }   
        .sort{
            width: 100%;
        }
        .limit{
            width: 100%;
        }
    }
} 

/*$media (max-width: 480px) {*/
@media (max-width: $screen-phone) {
    .main-page{
        margin-bottom: 30px;
    }
    #header-top.navbar-fixed-top {
        position: relative !important;
    }
   .navbar-toggle{
    	background-color: #ddd;
    }
    .product-info{
        .action{
            right: 2px;
            top: 2px;
        }
        .carousel-control{
            top: 42%;
        }
    } 
    .title-module span{
        padding: 9px 20px;
    }
    .rtl .pav-megamenu {
        float: right;
    }
    .pav-newsletter{
        margin-bottom: 30px;
    }
    .pavtestimonial{
        .testimonial-item{
            padding: 27px 42px 40px !important;
        } 
        .social{
            width: 60% !important;
            bottom: 0 !important;
        }
        .t-avatar{
            padding: 0 21px;
        }
    } 
    .productdeals{
        .label{
            right: 2px !important;
            top: 1% !important;
        }
        .bottom .item-countdown{
            padding-top: 33px;
            padding-left: 50px;
            padding-bottom: 67px;
        }
        .deals-content{
            height: 293px;
        }
    } 
    .main-menu .logo-store{
        top: 44px;
    }
    .offcanvas-sidebars-buttons{
        margin-top: 4px !important;
    }
    .topbar-primary{
        .quick-access{
            float: left;
        }
    }
    .filter-right div{
        padding: 5px 0;
    }
    #pavo-footer-center{
        .box{
            margin-bottom: 20px;
        }
    }
    .product-list {
        .image{
            width: 100%;
        }
        .rating, .norating{
            padding-left: 0 !important;
        }
    }
    .product-filter .display{
        @include rtl-float-right();
    }

}