body {
    background: url('#{$image-theme-path}bg-body.jpg') repeat-y;
}
#content{
	background: transparent;
}
.box{
	background: transparent;
}
.product-block{
	border: none;
}
.pavo-banners .banner-center{
	border: none;
}
.productdeals{
	.image{
		border: none !important;
	}
	.deals-content{
		border: none !important;
	}
}
.blog-body{
	.create-info{
		border: none;
	}
}