// Iconography
// -------------------------
$icon-font-path:          "../../fonts/";
$theme-font-path:          "../../fonts/";
// Image
// -------------------------
$image-theme-path:'../../image/blur/';
$image-theme-base-path:  '../../image/'!default;

$body-bg:                           #FFFFFF !default;
$theme-color:  				        #000000 !default; 
$theme-color-hover:  				#FF6633 !default; 