/**
* Web Application Prefix Apply For Making Owner Styles
*/
/**
*   Blocks Layout Selectors 
*/
/**
* Product Item Selectors
*/
/*  
 * LAYOUT VARIABLES 
 */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
.pav-newsletter p {
  padding-top: 10px;
}
.pav-newsletter .valid {
  width: 100%;
}
.pav-newsletter .content {
  width: 100%;
  text-align: center;
}
.pav-newsletter .content .wapper {
  display: inline-block;
}
.pav-newsletter .content .wapper > div {
  float: left;
}
.rtl .pav-newsletter .content .wapper > div {
  float: right;
}
.pav-newsletter .box-heading i {
  color: #000000;
  font-size: 9px;
}
.pav-newsletter .description {
  float: left;
  text-align: left;
  line-height: 20px;
}
.rtl .pav-newsletter .description {
  float: right;
}
.rtl .pav-newsletter .description {
  text-align: right;
}
.pav-newsletter .title {
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
}
.pav-newsletter .input-form input {
  width: 226px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pav-newsletter .form-control {
  border-style: dotted;
  border-right: none;
  border-left: 1px dotted;
}
.rtl .pav-newsletter .form-control {
  border-left: none;
  border-right: inherit;
}
.rtl .pav-newsletter .form-control {
  border-right: 1px dotted;
  border-left: inherit;
}
.pav-newsletter .btn {
  padding: 9px 13px;
}
