.seller-box {

  padding: 30px;
  position: relative;
  background: #fff;
font-size: 30px;
  font-weight: 100;
  color: #000000;
margin-bottom:40px;
font-size: 16px;
  color: #000000;
  line-height: 28px;
}
.seller-data{
float: right;
}


.product-name-tab{ 
background-color: #e7e7e7;
background-size: 100% 100%;
}