.product-block {
	.action {
        @include opacity(0);
        visibility: hidden;
        @include transition (all 0.4s ease 0s);
    }  
    .bottom{
        .wrap-hover{
            width: 100%;
            position: relative;
        }
    }
    .image:hover {
        .product-zoom, .pav-colorbox{
            @include opacity(1);
            visibility: visible;            
        }
        .hover-image {
            opacity: 1;
            visibility: visible;
        }
    }
    
    &:hover {
        .price-quick{
            @include opacity(1); 
        }
        .action {
            @include opacity(1); 
            visibility: visible;  
        }  
        .btn-action{
            div{
                opacity: 1;
            }
            .compare{
                top: 0px;
            }
            .zoom{
                left: 0px;
            }
            .wishlist{
                right: 0px;
            }
        }
    }
	.image:hover {
		.product-zoom, .pts-atchover{
            @include opacity(1);
            visibility: visible;            
        }
	}
    .cart:hover{
        .content-cart{
            @include rtl-right(35px);
            opacity: 1;
        }
        span{
            color: $theme-color-default;
        }
    }
}

.pavo-banners{
    .img1{
        .title{
            @include transition(all 0.35s);
            letter-spacing: 0px;
        }
        img{
            @include transition(all 0.35s);
            @include scale(1);
        }
        &:hover{
            .title{
                letter-spacing: 3px;
            }
            img{
                @include scale(1.2);
            }
        }
    }
}
.sidebar{
    .product-block{
        .img, .hover-image{
            @include transition(none);
        }
        .rating, .product-rating, .norating{
                display: none;
            }
        &:hover{
            .rating, .product-rating, .norating{
                display: none;
            }
            .price{
                display: block;
               left: 0;
            }
            .hover-image{
                display: none;
            }
            .img{
                display: block;
            }
        }    
    }
}
// effect banner
.effect {
    position: relative;
}
.overlay {
    background: none repeat scroll 0 0 rgba(227, 242, 253, 0.5);
    height: 100%;
    display: block;
    @include rtl-left(50%);
    opacity: 0;
    position: absolute;
    top: 0;
    @include transition( all 0.4s ease 0s);
    width: 0;
}
.effect:hover{
    div{
        cursor: pointer;
    }
    .overlay {
        @include rtl-left(0);
        width: 100%;
        opacity: 1;
        z-index: 10px;
    }
    .icon-map{
        background-position: left -30px;
        z-index: 99px;
    }
} 
