/**
 * BASE CSS STYLES
 */
html {
    margin: 0;
    padding: 0;
}
body {
  background-color: $body-bg;
  color: $text-color;
  font-size: $font-size-base;
  margin: 0px;
  padding: 0px;        
  overflow-x:hidden;
  font-weight: $font-weight-base;

}

ul{
    margin: 0;
    padding:0;
    li{
        list-style: none
    }
}

///******
ul.bullet {
    li {
           padding:  $block-module-padding - 15px 0;
           position:relative;
          a {
            @include rtl-padding-left($block-module-padding);
            &:before {
                  display: block;
                  content: "\f064";
                  font-family: $font-icon-family;
                  font-size:  $footer-font-size;
                  position: absolute;
                  @include rtl-left(0);
                  top: 6px;
            }
            &:hover {
                      &:before {
                        color: $link-hover-color;
                      }
                }
          }
    }
}
/* links style */
ul{
    &.links {    
        margin: 0;
        padding: 0;  
        width: 100%;  
        li{
            display: inline;        
            line-height: normal;     
            a{
                margin:0 $padding-base-vertical;  
                &:hover{
                    color: $theme-color-default;    
                }      
            } 
            .fa,.icon{
                margin-right:10px;
            }       
        }               
    }
    &.list{
        li{
            list-style: none;
           padding: 6px 0;
        }    
    }
    &.my-account{
        li{
            padding:6px 0;
            list-style: disc;
            margin-left: 14px;
        }
    }
    &.inline{
        li {
             float: left
        }
    }
}

.tree-menu {
        > ul > li {
            position: relative;
            @include transition(all 0.35s);
            .caret,.head a{ 
                position: absolute;
                @include rtl-right( 5px );
                top: 7px;
                font-size: $font-size-base + 6;
                background-color:nocolor;
                color:black;
                padding:0 8px;
                @include rounded-corners(10%);  
                .icon-collapse{
                    background: url('#{$image-theme-path}icon-cat-min.png') center center no-repeat;
                     @include size(14px, 14px);
                     display: block;
                }            
                &.collapsed .icon-collapse{
                    background: url('#{$image-theme-path}icon-cat.png') center center no-repeat;
                     @include size(14px, 14px);
                     display: block;
                } 
                .icon-collapse.icon-active{
                    background: url('#{$image-theme-path}icon-cat-min-white.png') center center no-repeat;
                }            
                &.collapsed .icon-collapse.icon-active{
                    background: url('#{$image-theme-path}icon-cat-white.png') center center no-repeat;
                }                           
            }
            &:last-child > a{
                border:none;
            }  
        + li {
             
        }
        > a {
            display: block;
            @include transition(all 0.35s);
            padding: 10px;
            font-size: $font-size-base - 1;
            &:hover,&:focus{                    
               padding-left: 15px;
            }
           
        }

        ul {
           // display: none;
        }
            a.active {
                color: $theme-color-primary;
            + ul {
                display: block;
                padding: 0 0 10px 10px;
            }
        }
        ul > li {
            > a {
                display: block;
                padding: 5px 0;
                @include rtl-padding-left(20px);
                color: $gray;
                font-size: $font-size-base - 1;  
                &:hover{
                    color: $theme-color-primary;
                }
                &.active {
                    color:$megamenu-sub-link-hover-color;  
                }
            }

        }
    }
}
a:hover{
    color: $theme-color-primary;
    text-decoration: none;
}
a:focus{
    outline: none;
}

label{
    font-weight: 400;
}
.icon-map {
    background: url("#{$image-theme-path}icon-map.png") no-repeat;
    position: absolute;
    top: 30px;
}
.effect div{
    font-size: $font-size-base;
    font-weight: 800;
    @include rtl-margin-left(40px);
    padding: 4px 0 4px 29px;
    text-transform: uppercase;
}
.title-module{
    span{
        background: transparent;
        padding: 9px 40px;
        font-size: $font-size-base -2;
        font-weight: 800;
        color: $white;
        position: relative;
        &:before{
            background: transparent;
            bottom: -5px;
            content: "";
            height: 5px;
            left: 0;
            position: absolute;
            width: 100%;
        }
        &:after{
            border-bottom: 5px solid transparent;
            border-left: 5px solid $black;
            bottom: -5px;
            content: "";
            position: absolute;
            right: -5px;
            z-index: 1;
        }
    }
}
.paypal{
    p{
        margin: 9px 0;
    }
}