// Iconography
// -------------------------
$icon-font-path:          "../../fonts/";
$theme-font-path:          "../../fonts/";
// Image
// -------------------------
$image-theme-path:'../../image/wood/';
$image-theme-base-path:  '../../image/'!default;

$theme-color-hover:  				#339900; 
$theme-color-default : 			    #000000;
$theme-color-primary :				#FF6633; //Color text default
$theme-color-success:               #339900;   

$footer-link-hover-color: 			$theme-color-primary;
$topbar-link-color: 				$theme-color-success;
$topbar-link-hover-color: 			$theme-color-success;
$megamenu-link-hover-color:         $theme-color-success;
$megamenu-sub-link-hover-color:     $theme-color-success;