@import "compass";

@import "vars/bootstrap";
@import "vars/opencart";


@import "mixins/bootstrap";
@import "mixins/app";

 .pav-newsletter {
 	p{
 		padding-top: 10px;
 	}
 	.valid{
	 	width: 100%;
 	}
 	.content{
	 	width: 100%;
	 	text-align: center;
	 	.wapper{
	 		display: inline-block;
	 		> div{
	 			@include rtl-float-left();
	 		}
	 	}
 	}
 	.box-heading i{
		color: $black;
		font-size: 9px;
 	}
 	.description{
 		@include rtl-float-left();
 		@include rtl-text-align-left();
 		line-height: 20px;
 	}
 	.title{
 		font-size: $font-size-base;
 		font-weight: 800;
 		text-transform: uppercase;
 	}
 	.input-form{
 		input{
 			width: 226px;
 			@include box-shadow(none);
 		}
 	}
 	.form-control {
 		border-style: dotted;
 		@include rtl-border-right(none);
 		@include rtl-border-left(1px dotted);
 	}
	.btn{
		padding: 9px 13px;
	}
 }
