// Iconography
// -------------------------
$icon-font-path:          "../../fonts/";
$theme-font-path:          "../../fonts/";
// Image
// -------------------------
$image-theme-path:'../../image/green/';
$image-theme-base-path:  '../../image/'!default;

$theme-color-hover:  				#339900; 
$theme-color-primary :				#339900;
$footer-link-hover-color: 			$theme-color-primary;
$topbar-link-color: 				$theme-color-primary;
$topbar-link-hover-color: 			$theme-color-primary;
$megamenu-link-hover-color:         $theme-color-primary;
$megamenu-sub-link-hover-color:     $theme-color-primary;
